@tailwind base;
@tailwind components;
@tailwind utilities;

/* app.css */
.bx--btn--tertiary {
	border-color: #78a9ff !important;
	color: #78a9ff !important;
}
.bx--btn--tertiary:hover {
	background-color: #334b7d !important;
	color: #7abffb !important;
}
